In [1]:
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", 120)
START = "2022-01-01"
END = "2025-12-18"

In [2]:
# --- Yahoo Finance via yfinance: US tickers (real market yh_df) ---
tickers = ["SPY", "QQQ", "TLT", "GLD", "EEM"]
# SPY : S&P 500 index
# QQQ : Nasdaq-100 index
# TLT : U.S. Treasury bonds with 20+ year maturity
# GLD : Physical gold prices
# EEM : MSCI Emerging Markets index

try:
    import yfinance as yf
except Exception as e:
    yf = None
    print("Could not import yfinance:", type(e).__name__, str(e))

if yf is not None:
    try:
        yh_df = yf.download(tickers, start=START, end=END, auto_adjust=True, progress=False)
    except Exception as e:
        yh_df = pd.DataFrame()
        print("yfinance download failed:", type(e).__name__, str(e))
else:
    yh_df = pd.DataFrame()

# Convert to long format: date, ticker, close, volume
if isinstance(yh_df, pd.DataFrame) and yh_df.shape[0] > 0:
    if isinstance(yh_df.columns, pd.MultiIndex):
        close = yh_df["Close"].copy()
        vol = yh_df["Volume"].copy()
    else:
        close = yh_df[["Close"]].rename(columns={"Close": tickers[0]})
        vol = yh_df[["Volume"]].rename(columns={"Volume": tickers[0]})

    close.index.name = "date"
    vol.index.name = "date"

    us_close_long = close.reset_index().melt(id_vars="date", var_name="ticker", value_name="close")
    us_vol_long = vol.reset_index().melt(id_vars="date", var_name="ticker", value_name="volume")
    us_mkt = us_close_long.merge(us_vol_long, on=["date","ticker"], how="inner").dropna(subset=["close"])
else:
    us_mkt = pd.DataFrame(columns=["date","ticker","close","volume"])

us_mkt.head(), us_mkt.shape

(        date ticker      close    volume
 0 2022-01-03    EEM  44.624962  27572700
 1 2022-01-04    EEM  44.470776  24579500
 2 2022-01-05    EEM  43.745171  46425100
 3 2022-01-06    EEM  43.944710  34288700
 4 2022-01-07    EEM  44.343788  32640900,
 (4970, 4))

### 3.2.2 From NumPy array to Series 

Using `us_mkt`:

1. Filter to `ticker == "SPY"`.
2. Take `close` as a NumPy array.
3. Create a Series indexed by `date` named `SPY_close_series`.
4. Compute the mean/min/max with Series methods.

### 3.2.3 From Dictionary to Series 

Using `us_mkt`:

1. Compute the **last available close** for each ticker in `tickers`.
2. Store it in a dict `{ticker: last_close}`.
3. Convert to a Series and sort descending.

In [13]:
#1
df_sorted = us_mkt.sort_values(["ticker", "date"])
last_close_by_ticker = df_sorted.groupby("ticker")["close"].last()
last_close_by_ticker

ticker
EEM     52.599998
GLD    399.290009
QQQ    599.637390
SPY    669.421936
TLT     87.459633
Name: close, dtype: float64

In [14]:
#2
last_close_by_ticker_dict = last_close_by_ticker.to_dict()
last_close_by_ticker_dict

{'EEM': 52.599998474121094,
 'GLD': 399.2900085449219,
 'QQQ': 599.6373901367188,
 'SPY': 669.4219360351562,
 'TLT': 87.45963287353516}

In [18]:
#3
last_close_by_ticker_series = pd.Series(data=last_close_by_ticker_dict).sort_values(ascending=False)
last_close_by_ticker_series

SPY    669.421936
QQQ    599.637390
GLD    399.290009
TLT     87.459633
EEM     52.599998
dtype: float64

### 3.2.4 Series vs NumPy 

Goal: show why pandas alignment matters.

1. Create two Series indexed by date:
   - df mid-rate from `df`
   - SPY close from `us_mkt`
2. Combine them into a yh_dfFrame (pandas aligns on dates).
3. Separately, build two NumPy arrays by truncating to the same length.
4. In markdown: explain why alignment is safer.

### 3.3.6 Dealing with Nulls 
Using `us_mkt`:

1. Copy `us_mkt` to `us_mkt_nan`.
2. Set 1% of `close` to NaN (fixed random seed).
3. Create:
   - `us_drop`: drop NaNs
   - `us_fill`: fill NaNs with ticker-specific median close
4. Compare shapes.

### 3.3.7 Duplicates 

1. Create `dup_df` by stacking the last 5 rows of `us_mkt` twice.
2. Detect duplicates using `.duplicated()`.
3. Remove them using `.drop_duplicates()`.

In [43]:
#1
last5 = us_mkt.tail(5)
dup_df = pd.concat([last5, last5], axis = 0, ignore_index = True)
dup_df

        date ticker      close    volume
0 2025-12-11    TLT  87.848114  26778700
1 2025-12-12    TLT  87.001404  47030100
2 2025-12-15    TLT  87.061180  28611800
3 2025-12-16    TLT  87.539314  41018700
4 2025-12-17    TLT  87.459633  24668300
5 2025-12-11    TLT  87.848114  26778700
6 2025-12-12    TLT  87.001404  47030100
7 2025-12-15    TLT  87.061180  28611800
8 2025-12-16    TLT  87.539314  41018700
9 2025-12-17    TLT  87.459633  24668300

In [45]:
#2
detected_duplicates = dup_df.duplicated()
detected_duplicates

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
9     True
dtype: bool

In [48]:
#3
drop_dup_df = dup_df.drop_duplicates()
drop_dup_df

        date ticker      close    volume
0 2025-12-11    TLT  87.848114  26778700
1 2025-12-12    TLT  87.001404  47030100
2 2025-12-15    TLT  87.061180  28611800
3 2025-12-16    TLT  87.539314  41018700
4 2025-12-17    TLT  87.459633  24668300

### 3.3.8 Groupby 


Using `us_mkt`:

1. Group by `ticker` and compute:
   - mean close
   - median close
   - max volume
2. Rename columns clearly.
3. Sort by mean close descending.

In [52]:
#1
grp = (us_mkt.groupby("ticker").agg(
        mean_close=("close", "mean"),
        median_close=("close", "median"),
        max_volume=("volume", "max"),))
grp

        mean_close  median_close  max_volume
ticker
EEM      40.462350     39.107407   134225700
GLD     220.130422    187.864998    62025000
QQQ     411.276967    400.214508   198685800
SPY     485.608585    460.740005   256611400
TLT      91.395622     88.549698   131353500

In [53]:
#2
grp_renamed = grp.rename(columns={
    'mean_close': 'mean close',
    'median_close': 'median close',
    'max_volume': 'highest volume'
})
grp_renamed

        mean close  median close  highest volume
ticker
EEM      40.462350     39.107407       134225700
GLD     220.130422    187.864998        62025000
QQQ     411.276967    400.214508       198685800
SPY     485.608585    460.740005       256611400
TLT      91.395622     88.549698       131353500

In [56]:
#3
grp_renamed_sorted = grp_renamed.sort_values("mean close", ascending=False)
grp_renamed_sorted

        mean close  median close  highest volume
ticker
SPY     485.608585    460.740005       256611400
QQQ     411.276967    400.214508       198685800
GLD     220.130422    187.864998        62025000
TLT      91.395622     88.549698       131353500
EEM      40.462350     39.107407       134225700

### 3.3.9 Reshape 

1. Create a 1-row wide yh_dfFrame with last closes per ticker.
2. Convert it to long format with `melt()` into columns: `ticker`, `last_close`.
3. Pivot `us_mkt` into a wide table: index=`date`, columns=`ticker`, values=`close` (keep first 50 dates).

In [65]:
#1
last_close_by_ticker

ticker
EEM     52.599998
GLD    399.290009
QQQ    599.637390
SPY    669.421936
TLT     87.459633
Name: close, dtype: float64

In [66]:
#1
yh_dfFrame = last_close_by_ticker.to_frame().T
yh_dfFrame

ticker        EEM         GLD        QQQ         SPY        TLT
close   52.599998  399.290009  599.63739  669.421936  87.459633

In [67]:
#2
yh_long = yh_dfFrame.melt(var_name="ticker", value_name="last_close")
yh_long

  ticker  last_close
0    EEM   52.599998
1    GLD  399.290009
2    QQQ  599.637390
3    SPY  669.421936
4    TLT   87.459633

In [71]:
#3
first_50_dates = np.sort(us_mkt["date"].unique())[:50]
us_mkt_first_50 = us_mkt[us_mkt["date"].isin(first_50_dates)]
us_mkt_wide = us_mkt_first_50.pivot(index="date", columns="ticker", values="close")
us_mkt_wide

ticker            EEM         GLD         QQQ         SPY         TLT
date
2022-01-03  44.624962  168.330002  391.679443  451.875183  125.295380
2022-01-04  44.470776  169.570007  386.599213  451.723755  124.774368
2022-01-05  43.745171  169.059998  374.722412  443.049652  124.097153
2022-01-06  43.944710  166.990005  374.459106  442.633545  124.418449
2022-01-07  44.343788  167.750000  370.402679  440.883575  123.524033
2022-01-10  44.343788  168.259995  370.646515  440.334991  123.828003
2022-01-11  45.368721  170.289993  376.214355  444.345612  124.652832
2022-01-12  46.121536  170.740005  377.706238  445.546967  124.175240
2022-01-13  45.468487  170.160004  368.257568  439.407898  125.278008
2022-01-14  45.450348  169.669998  370.549011  439.587646  123.385086
2022-01-18  44.643105  169.389999  361.324493  431.802765  121.648468
2022-01-19  44.833580  172.080002  357.355865  427.319092  122.490776
2022-01-20  45.096611  171.649994  352.714325  422.589569  123.246155
2022-01-21  44.443562  171.089996  342.934082  414.293732  124.713570
2022-01-24  43.817726  172.029999  344.503967  416.053223  123.688995
2022-01-25  43.736095  172.580002  336.517914  410.973633  123.489281
2022-01-26  43.182816  169.789993  335.991364  409.942535  121.995842
2022-01-27  42.683964  167.600006  332.607727  407.918304  124.236069
2022-01-28  42.892574  167.100006  343.041229  418.049072  124.279472
2022-01-31  44.298439  168.089996  354.011169  425.578552  123.636909
2022-02-01  44.570545  168.229996  356.419739  428.454224  123.226471
2022-02-02  44.497986  168.839996  359.315704  432.616272  123.643898
2022-02-03  44.026337  168.600006  344.747681  422.447571  122.678734
2022-02-04  44.135178  168.860001  349.096741  424.434052  120.870125
2022-02-07  44.044483  170.110001  346.288452  423.071930  120.948433
2022-02-08  44.470776  170.630005  350.179077  426.552887  120.139763
2022-02-09  45.169174  171.210007  357.599640  432.795929  120.365860
2022-02-10  44.869862  170.559998  349.506256  425.020447  118.452904
2022-02-11  44.189606  173.809998  338.419342  416.639679  120.209328
2022-02-14  43.881222  174.740005  338.838623  415.277527  118.713768
2022-02-15  44.833580  173.080002  347.263489  421.974670  117.366035
2022-02-16  45.160099  174.860001  347.175781  422.447571  118.061646
2022-02-17  44.634037  177.250000  336.849396  413.423553  118.939827
2022-02-18  44.189606  177.119995  333.007477  410.746613  120.191940
2022-02-22  43.563763  177.490005  329.662903  406.338593  120.504967
2022-02-23  43.055840  178.289993  321.218567  399.130676  118.844170
2022-02-24  42.166965  177.139999  332.012909  405.137238  118.922470
2022-02-25  42.946995  176.550003  337.161438  414.076202  119.009407
2022-02-28  42.384647  178.380005  338.165833  413.016815  121.617889
2022-03-01  41.822300  181.619995  332.987976  406.726501  123.024033
2022-03-02  41.894859  179.729996  338.575317  414.208710  118.818764
2022-03-03  41.305305  180.800003  333.738800  412.146515  120.028992
2022-03-04  40.470852  183.679993  328.902313  408.798004  122.101112
2022-03-07  38.956146  186.410004  316.772003  396.747009  121.169487
2022-03-08  39.083126  191.509995  315.299652  393.738953  119.950623
2022-03-09  40.189682  185.820007  326.649872  404.295380  118.775200
2022-03-10  39.436859  186.399994  323.022430  402.469818  117.068741
2022-03-11  38.611481  185.089996  316.323456  397.352325  117.460495
2022-03-14  37.677258  182.300003  310.248627  394.448364  114.717926
2022-03-15  37.731678  178.889999  319.980133  403.122498  114.517693